{% extends 'layout.html' %}
{% block content %}
<div class="container">
  <header>
    <h2 class="font-weight-light">Edit category</h2>
  </header>
  <div class="form-group">
    <form method="post">
      <h6>name</h6>
      <input type ="text" maxlength="50" class="form-control"  name="edit_category_name" value = "{{ category_name }}" placeholder="New name here">
      <p>
      <div class="btn-group" role="group" aria-label="Submission buttons">
        <button type="submit" class="btn btn-default">Edit</button>
        <a class="btn btn-secondary" href="{{ url_for('home') }}" role="button">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}